/* Container */
.container {
    width: 100%;
    max-width: 800px;
    margin: 50px auto; /* Thêm margin-top */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form title */
.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Input fields */
.container input[type=text], .container input[type=email], .container input[type=password],
.container textarea, .container select {
    width: 100%;
    padding: 10px;
    margin: 5px 0px 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Textarea */
.container textarea {
    height: 100px;
    resize: none;
}

/* Submit button */
.container .btn {
    background-color: #000080;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
    font-weight: bold;
}

/* Button hover effect */
.container .btn:hover {
    opacity: 1;
}

.position-relative {
    position: relative;
}

form {
    position: relative; 
}

.close-button {
    position: absolute; 
    top: 0px; 
    right: 0px;
    background-color: #f44336; 
    color: white; 
    border: none; 
    border-radius: 50%; 
    font-size: 18px;
    width: 40px; 
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    font-weight: bold;
}

.close-button:hover {
    background-color: #e53935;
    transform: scale(1.1);
}

.image-preview-container {
    width: 300px;
    height: 300px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 10px auto; /* căn giữa */
    background-color: #fff; 
}

.image-preview-container img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.custom-file {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.custom-file input[type="file"] {
    display: none;
}

.custom-file label[for="productImage"] {
    background-color: #007bff;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.file-name {
    color: #333;
}








