.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ecf0f1;
    border: 1px solid #ccc;
    margin-right: 5px;
}

.tab-button.active {
    background-color: #2980b9;
    color: white;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-content.active h2 {
	text-align: center;
	color: #2980b9;
}